<div id="attributes">

<h3><%= l(:label_people_person) %></h3>

<div class="person attributes vcard">
  <%= call_hook(:view_people_sidebar_attributes_top) %>

  <div class="attribute"><div class="label first-name"><%= l(:field_name) %>:</div><div class="value name fn"><%= @person.firstname %></div></div>
  <div class="attribute"><div class="label middle-name"><%= l(:label_people_middlename) %>:</div><div class="value name mn"><%= @person.middlename %></div></div>
  <div class="attribute"><div class="label last-name"><%= l(:field_lastname) %>:</div><div class="value name ln"><%= @person.lastname %></div></div>

  <% if !@person.job_title.blank? %>
    <div class="attribute"><div class="label job_title"><%= l(:label_people_job_title) %>:</div><div class="value job_title title"><%= @person.job_title %></div></div>
  <% end %>

  <% if !@person.manager.blank? %>
    <div class="attribute"><div class="label manager"><%= l(:label_people_manager) %>:</div><div class="value manager title"><%= link_to_user(@person.manager) %></div></div>
  <% end %>

  <div class="attribute"><div class="label address"><%= l(:label_people_address) %>:</div>
    <div class="value address adr">
      <%= @person.address %>
      <% if !@person.address.blank? %><br>
        <%= link_to l(:label_people_show_on_map), "http://maps.google.com/maps?f=q&q=#{h @person.address.gsub("\r\n"," ").gsub("\n"," ")}+(#{h @person.name})&ie=UTF8&om=1" %>
      <% end %>
    </div>
  </div>

  <div class="attribute tel">
    <div class="label phone"><%= l(:label_people_phone_plural) %>:</div>
    <div class="value phones">
      <% @person.phones.each do |phone| %>
        <span class="value"><%= h phone %> <br></span>
      <% end %>
    </div>
  </div>

  <div class="attribute email">
    <div class="label"><%= l(:field_mail) %>:</div>
    <div class="value"><%= mail_to @person.email %></div>
  </div>

  <% unless @person.skype.blank? %>
    <div class="attribute">
      <div class="label skype"><%= l(:label_people_skype) %>:</div>
      <div class="value skype icon icon-skype"><%= link_to sprite_icon('skype', @person.skype, plugin: :redmine_people), "skype:#{@person.skype}?call" %></div>
    </div>
  <% end %>

  <% unless @person.twitter.blank? %>
    <div class="attribute">
      <div class="label twitter"><%= l(:label_people_twitter) %>:</div>
      <div class="value twitter icon icon-twitter"><%= link_to sprite_icon('twitter', @person.twitter, plugin: :redmine_people), "http://twitter.com/" + @person.twitter %></div>
    </div>
  <% end %>

  <% unless @person.facebook.blank? %>
    <div class="attribute">
      <div class="label facebook"><%= l(:label_people_facebook) %>:</div>
      <div class="value facebook icon icon-facebook"><%= link_to sprite_icon('facebook', @person.facebook.gsub(/^.*facebook.com\//, ''), plugin: :redmine_people), "http://facebook.com/#{@person.facebook}" %></div>
    </div>
  <% end %>

  <% unless @person.linkedin.blank? %>
    <div class="attribute">
      <div class="label linkedin"><%= l(:label_people_linkedin) %>:</div>
      <div class="value linkedin icon icon-linkedin"><%= link_to sprite_icon('linkedin', @person.name, plugin: :redmine_people), "http://www.linkedin.com/profile/view?id=#{@person.linkedin}" %></div>
    </div>
  <% end %>

  <% unless @person.birthday.blank? %>
    <div class="attribute">
      <div class="label birthday"><%= l(:label_people_birthday) %>:</div>
      <div class="value birthday bday" title="<%= format_date(@person.birthday) %>"><%= "#{@person.birthday.day} #{t('date.month_names')[@person.birthday.month]}" %></div>
    </div>
    <% unless RedminePeople.hide_age? %>
      <div class="attribute">
        <div class="label age"><%= l(:label_people_age) %>:</div>
        <div class="value age"><%= @person.age %></div>
      </div>
    <% end %>
  <% end %>

  <% @person.custom_values.each do |custom_value| %>
    <% if !custom_value.value.blank? && (User.current.admin? || custom_value.custom_field.visible?) %>
      <div class="attribute">
        <div class="label custom_field"><%= custom_value.custom_field.name %>:</div>
        <div class="value custom_field"><%= h show_value(custom_value) %></div>
      </div>
    <% end %>
  <% end %>

  <div class="attribute">
    <div class="label registered_on"><%= l(:label_registered_on) %>:</div>
    <div class="value registered_on"><%= format_date(@person.created_on) %></div>
  </div>

  <% if @person.time_zone %>
    <div class="attribute">
      <div class="label time_zone"><%= l(:field_time_zone) %>:</div>
      <div class="value time_zone"><%= @person.time_zone %></div>
    </div>
  <% end %>

  <% unless @person.last_login_on.nil? %>
    <div class="attribute">
      <div class="label last_login_on"><%= l(:field_last_login_on) %>:</div>
      <div class="value last_login_on"><%= format_time(@person.last_login_on) %></div>
    </div>
  <% end %>

  <%= call_hook(:view_people_sidebar_attributes_bottom) %>
</div>

</div>
